<div class="fluid h-full">
  <div class="w-full">
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12 md:col-6">
          <app-label description="Mês" [abstractControl]="getField('month')"></app-label>
          <p-select [options]="months" optionLabel="name" fluid placeholder="Selecione o mês do aniversário" formControlName="month" (onChange)="filterEntities()"></p-select>
        </div>
      </div>
    </form>
  </div>
  <div class="w-full">
    <p-table [value]="filteredEntities" dataKey="id" size="small" paginator="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" sortField="birthday" [sortOrder]="1" stripedRows="true">
      <ng-template #header>
        <tr>
          <th pSortableColumn="name">
            <div class="flex justify-content-center align-items-center gap-2">
              Nome
              <p-sortIcon field="name"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="birthday">
            <div class="flex justify-content-center align-items-center gap-2">
              Aniversário
              <p-sortIcon field="birthday"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-result>
        <tr>
          <td>{{result.name}}</td>
          <td>{{transformDate(result.birthday)}}</td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="2">Nenhum registro foi encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
