<div class="fluid h-full">
  <div class="w-full">
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12 md:col-6">
          <app-label description="Mês" [abstractControl]="getField('month')"></app-label>
          <p-select [options]="months" optionLabel="name" fluid placeholder="Selecione o mês do aniversário" formControlName="month" (onChange)="onChangeMonth()"></p-select>
        </div>
        <div class="field col-12 md:col-6">
          <app-label description="Tipo" [abstractControl]="getField('type')"></app-label>
          <!-- <p-selectButton [options]="options" fluid formControlName="type" (onChange)="onChangeType($event)"></p-selectButton> -->
           <p-toggleButton fluid onLabel="Individual" offLabel="Casamento" formControlName="isIndividual" (onChange)="onChangeType($event)"></p-toggleButton>
        </div>
      </div>
    </form>
  </div>
  <div class="w-full">
    <p-table [value]="filteredValues" [columns]="displayColumns" dataKey="id" size="small" paginator="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" sortField="birthday" [sortOrder]="1" stripedRows="true">
      <ng-template #header let-columns>
        <tr>
          @for (column of columns; track $index) {
            <th [pSortableColumn]="column.field">
              <div class="flex justify-content-center align-items-center gap-2">
                {{column.label}}
                <p-sortIcon [field]="column.field"></p-sortIcon>
              </div>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-result let-columns="columns">
        <tr>
          @for (column of columns; track $index) {
            <td>
              @if (column.displayColumnType == 3) {
                {{showDateValue(result[column.field])}}
              }
              @else if (column.displayColumnType == 4) {
                {{showObejctValue(result, column.field)}}
              }
              @else {
                {{showDefaultValue(result[column.field])}}
              }
            </td>
          }
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td [colSpan]="displayColumns.length">Nenhum registro foi encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
