@if (isForm && entityForm) {
    <div class="fluid p-2">
        <form [formGroup]="entityForm">
            <div class="formgrid grid">
                <div class="field lg:col-6 col-12">
                  <label for="code">Código</label>
                  <p-iconfield>
                      <p-inputicon class="pi pi-id-card"></p-inputicon>
                      <input type="text" pInputText inputId="code" id="code" formControlName="code" class="w-full" placeholder="Digite o código do usuário" />
                    </p-iconfield>
                </div>
                <div class="field lg:col-6 col-12">
                    <label for="name">Nome</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-user"></p-inputicon>
                      <input type="text" pInputText inputId="name" id="name" formControlName="name" class="w-full" placeholder="Digite o nome do usuário"/>
                    </p-iconfield>
                </div>
                <div class="field lg:col-6 col-12">
                    <label for="age">Idade</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-sort-numeric-up-alt"></p-inputicon>
                      <p-inputNumber formControlName="age" id="age" inputId="age" class="w-full" placeholder="Digite a idade do usuário" suffix=" anos" [min]="0" [max]="120" />
                    </p-iconfield>
                </div>
                <div class="field lg:col-6 col-12">
                    <label for="phone">Telefone</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-phone"></p-inputicon>
                      <input type="text" pInputText inputId="phone" formControlName="phone" class="w-full" placeholder="Digite o telefone do usuário"/>
                    </p-iconfield>
                </div>
                <div class="field lg:col-6 col-12">
                    <label for="active" class="w-full">Ativo?</label>
                    <p-toggleButton formControlName="active" onLabel="Sim" offLabel="Não" [onIcon]="onIcon" [offIcon]="offIcon" fluid="false"/>
                </div>
            </div>
        </form>
    </div>
}
