@if (crudBaseComponent) {
  <p-table [value]="crudBaseComponent.entities" [columns]="crudBaseComponent.getDisplayColumns()" size="small" stripedRows="true" rowHover="true" selectionMode="multiple" [(selection)]="crudBaseComponent.selectedEntities" dataKey="id" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [selectionPageOnly]="true">
    <ng-template #caption>
      <p-toolbar>
        <ng-template #start>
          <div class="flex gap-2">
            <h1 class="text-2xl font-bold">{{crudBaseComponent.getTypeDescription().plural}}</h1>
            <p-button icon="pi pi-plus" (onClick)="openNew()"></p-button>
            <p-button icon="pi pi-trash" (onClick)="deleteEntities()" severity="danger" [disabled]="!crudBaseComponent.selectedEntities.length"></p-button>
          </div>
        </ng-template>
        <ng-template #end>
          <div class="flex gap-2">
            @for (specialOption of crudBaseComponent.getSpecialOptions(); track $index) {
              <p-button [icon]="specialOption.buttonIcon" [label]="specialOption.buttonLabel" severity="info" (onClick)="specialOption.buttonAction()!"></p-button>
            }
          </div>
        </ng-template>
      </p-toolbar>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>
        @for (column of columns; track $index) {
          <th>{{column.label}}</th>
        }
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template #body let-result let-columns="columns">
      <tr class="cursor-pointer">
        <td>
          <p-tableCheckbox [value]="result"></p-tableCheckbox>
        </td>
        @for (column of columns; track $index) {
          <td>
            @if (column.displayColumnType == 2) {
              <p-tag [value]="result[column.field] ? 'Sim' : 'Não'" [severity]="result[column.field] ? 'success' : 'danger'"></p-tag>
            }
            @else if (column.displayColumnType == 3) {
              {{showDateValue(result[column.field])}}
            }
            @else if (column.displayColumnType == 4) {
              {{showObejctValue(result, column.field)}}
            }
            @else {
              {{result[column.field]}}
            }
          </td>
        }
        <td>
          <p-button icon="pi pi-pencil" [rounded]="true" (onClick)="openEdit(result.id)"></p-button>
          <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true"></p-button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td>Nenhum registro foi encontrado</td>
      </tr>
    </ng-template>
  </p-table>
}
