<div class="fluid">

  @if (form) {
    <form [formGroup]="form">
      <div class="grid">
        <div class="field col-12 md:col-6">
          <label for="month">Mês:</label>
          <p-select [options]="months" optionLabel="name" formControlName="month" placeholder="Escolha o mês" fluid (onChange)="onChangeMonth($event)"></p-select>
        </div>
        <div class="field col-12 md:col-6">
          <label for="isWedding">Tipo de aniversário:</label>
          <p-toggleButton formControlName="isWedding" onLabel="Casamento" [onIcon]="'pi pi-users'" offLabel="Individual" [offIcon]="'pi pi-user'" fluid (onChange)="onChangeToggleButton($event.checked)"></p-toggleButton>
        </div>
      </div>
    </form>
  }

  <p-table [value]="entitiesFiltered" [columns]="getColumns()" dataKey="id" stripedRows rowHover paginator [rows]="20" [rowsPerPageOptions]="[20, 50, 100, 200]">
    <ng-template #header let-columns>
      <tr>
        @for (column of columns; track $index) {
          <th>{{column.label}}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-result let-columns="columns">
      <tr>
        @for (column of columns; track $index) {
          <td>{{getColumnValue(result, column.field, column.type)}}</td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage let-columns="columns">
      <tr>
        <td [colSpan]="columns.length">Nenhum registro encontrado</td>
      </tr>
    </ng-template>
  </p-table>

</div>
