@if(isForm && form) {
    <form [formGroup]="form">
        <div class="grid p-2">
            <div class="field col-12 md:col-6">
                <app-label description="Nome" [abstractControl]="getField('name')"></app-label>
                <input type="text" pInputText id="name" formControlName="name" placeholder="Digite o nome da classe" fluid (input)="change()">
            </div>
            <div class="field col-12 md:col-6">
                <app-label description="Descrição" [abstractControl]="getField('description')"></app-label>
                <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição da classe" fluid>
            </div>
            <div class="field col-12 md:col-6">
                <app-label description="Data de início" [abstractControl]="getField('startDate')"></app-label>
                <p-datepicker formControlName="startDate" placeholder="Escolha uma data inicial" fluid></p-datepicker>
            </div>
            <div class="field col-12 md:col-6">
                <app-label description="Data de término" [abstractControl]="getField('endDate')"></app-label>
                <p-datepicker formControlName="endDate" placeholder="Escolha uma data final" [minDate]="form.get('startDate')?.value" fluid [disabled]="!form.get('startDate')?.value"></p-datepicker>
            </div>
            <div class="field col-12" [hidden]="selectedEntity.id > 0">
              <p-message [severity]="isValid ? 'success' : 'error'" >'{{form.get('name')?.value ?? "vazio"}}'  é um nome é {{isValid ? 'válido' : 'inválido.'}}</p-message>
            </div>
        </div>
    </form>

    <div class="fluid p-2" [hidden]="!(selectedEntity.id > 0)">
      <p-table [value]="classRolls" size="small">
        <ng-template #caption>
          <p-toolbar>
            <ng-template #start>
              <p class="text-lg">Alunos da classe - {{this.selectedEntity.name}}</p>
            </ng-template>
            <ng-template #end>
              <p-button icon="pi pi-plus" severity="info" (onClick)="openClassRollDialog()" [hidden]="this.selectedEntity.name == 'Sem classe'"></p-button>
            </ng-template>
          </p-toolbar>
        </ng-template>
        <ng-template #header>
          <tr>
            <th>Aluno</th>
            <th>É professor?</th>
            <th>Quantidade de presenças</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-result>
          <tr>
            <td>{{result.memberName}}</td>
            <td><p-tag [class]="result.isTeacher ? 'bg-green-200 text-green-600' : 'bg-red-200 text-red-600'">{{result.isTeacher ? 'Sim' : 'Não'}}</p-tag></td>
            <td>{{getAttendance(result.attendaces)}}</td>
            <td><p-button icon="pi pi-arrow-right-arrow-left" (onClick)="openTransferClassDialog(result)"></p-button></td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="3">Nenhum aluno registrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

}
