@if (isForm && selectedEntity) {
  <form [formGroup]="entityForm">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <app-label description="Nome" [abstractControl]="getField('name')"></app-label>
        <input type="text" pInputText id="name" inputId="name" formControlName="name" fluid placeholder="Digite o nome da classe" autocomplete="off">
      </div>
      <div class="field col-12 md:col-6">
        <app-label description="Descrição" [abstractControl]="getField('description')"></app-label>
        <input type="text" pInputText id="description" inputId="description" formControlName="description" fluid placeholder="Digite a descrição da classe" autocomplete="off">
      </div>
    </div>
  </form>

  <div class="fluid" [ngClass]="entityId == 0 ? 'hidden' : ''">
    <p-table [value]="members" [columns]="columns" size="small" stripedRows rowHover class="text-xs md:text-sm lg:text-base" paginator [rows]="20" [rowsPerPageOptions]="[5, 10, 20, 50, 100, 200]">
      <ng-template #caption>
        <p-toolbar>
          <ng-template #start>
            <p-button size="small" severity="info" icon="pi pi-plus" (onClick)="openAddMemberClassDialog()"></p-button>
          </ng-template>
          <ng-template #end>
            <p-toggleButton fluid onLabel="Professor" offLabel="Alunos" (onChange)="onChangeMembers($event)"></p-toggleButton>
          </ng-template>
        </p-toolbar>
      </ng-template>
      <ng-template #header let-columns>
        <tr>
          @for (column of columns; track $index) {
            <th>{{column.label}}</th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-result let-columns="columns">
        <tr>
          @for (column of columns; track $index) {
            <td>{{getValue(result, column)}}</td>
          }
        </tr>
      </ng-template>
      <ng-template #emptymessage let-columns>
        <tr>
          <td [colSpan]="columns?.length">Nenhum resultado foi encontrado</td>
        </tr>
      </ng-template>
      <ng-template #footer let-columns>
        <tr>
          <td [colSpan]="columns?.length">
            <p-toolbar>
              <ng-template #start>
                <p-button severity="warn" label="Remanejar" (onClick)="openTransferClassDialog()" size="small"></p-button>
              </ng-template>
              <ng-template #end>
                Total de {{isTeacher ? "professores" : "alunos"}}: {{members?.length}}
              </ng-template>
            </p-toolbar>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
