<div class="grid my-2 gap-2">
    @for (option of crudOptions; track $index) {
        <div class="lg:col-6 md:col-6 col-12 grid">
            <div class="col-3 cursor-pointer" (click)="navigateTo(option.crudTarget)">
                <div class="text-center p-3 border-round-sm bg-primary font-bold hover:shadow-8">
                    <i [class]="option.icon" class="text-white"></i>
                </div>
            </div>
            <div class="col-9 cursor-pointer" (click)="navigateTo(option.crudTarget)">
                <div class="text-center p-3 border-round-sm font-bold shadow-2 hover:shadow-5">{{option.label}}</div>
            </div>
        </div>
    }
</div>