<div class="flex flex-column h-full">
  @if (form) {
    <form [formGroup]="form" style="flex: 1">
      <div class="grid">
        <div class="field col-12 col-6">
          <app-label description="Membro" [abstractControl]="getField('member')"></app-label>
          <p-select [options]="members" [optionLabel]="isTeacher ? 'member.name' : 'name'" formControlName="member" fluid placeholder="Selecione o membro para o remanejamento" showClear></p-select>
        </div>
        <div class="field col-12 col-6">
          <app-label description="Classe atual" [abstractControl]="getField('currentClass')"></app-label>
          <div class="bg-gray-200 p-2 border-round">
            {{this.currentClass.name}}
          </div>
        </div>
        <div class="field col-12 col-6">
          <app-label description="Remanejar para" [abstractControl]="getField('redeploy')"></app-label>
          <p-select [options]="classes" optionLabel="name" formControlName="redeploy" fluid placeholder="Selecione a classe desejada" showClear ></p-select>
        </div>
      </div>
    </form>
  }

  <div class="p-2">
    <div class="flex justify-content-between center align-items-center">
      <p-button label="Voltar" icon="pi pi-undo" variant="text" size="small" (onClick)="cancel()"></p-button>
      <p-button label="Remanejar" icon="pi pi-send" size="small" (onClick)="save()" [disabled]="!canSave()"></p-button>
    </div>
  </div>
</div>
