<div class="flex flex-wrap justify-center gap-8 p-2 mt-4">
  <!-- Start Carousel -->
  <p-carousel [value]="items" [numVisible]="numVisible" [circular]="circular" [responsiveOptions]="responsiveOptions" [autoplayInterval]="autoplayInterval" circular="mt-4">
    <!-- Start Item -->
    <ng-template #item let-item>
      <!-- Start Card -->
      <p-card [style]="{overflow: 'hidden' }" class="w-80 gap-4">
        <!-- Start Card Header -->
        <ng-template #header>
          <img [src]="'assets/images/' + getLower(item.title) + '.jpg'" class="w-full" [style]="{'height':'200px'}">
        </ng-template>
        <!-- End Card Header -->

        <!-- Start Card Title -->
        <ng-template #title> <i [class]="item.icon"></i> {{item.title}}</ng-template>
        <!-- End Card Title -->

        <!-- Start Card Content -->
        <ng-template #content>
          <p>{{item.label}}</p>
        </ng-template>
        <!-- End Card Content -->

        <!-- Start Card Footer -->
        <ng-template #footer>
          <div class="mt-1">
            <p-button label="Acessar" fluid (onClick)="navigateTo(item.target)"></p-button>
          </div>
        </ng-template>
        <!-- End Card Footer -->
      </p-card>
      <!-- End Card -->
    </ng-template>
    <!-- End Item -->
  </p-carousel>
  <!-- End Carousel -->
</div>
