@if(loading) {
    <div class="w-10 mx-auto shadow-2">
        <div class="p-1 bg-primary border-1">
            <h1>Formulário</h1>
        </div>
        <ng-container #container />
        <div class="flex justify-content-between align-items-center">
            <div class="p-2">
                <p-button label="Cancelar e voltar" icon="pi pi-undo" variant="text" severity="danger"></p-button>
            </div>
            <div class="p-2">
                <p-button label="Salvar" icon="pi pi-check" severity="success"></p-button>
            </div>
        </div>
    </div>
}